@font-face {
	font-family: "Jost";
	font-style: normal;
	font-weight: 600;
	src: url("../fonts/Jost-SemiBold.woff") format("woff"),
	url("../fonts/Jost-SemiBold.woff2") format("woff2");
}
@font-face {
	font-family: "Jost";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/Jost-Regular.woff") format("woff"),
	url("../fonts/Jost-Regular.woff2") format("woff2");
}
@font-face {
	font-family: "Jost";
	font-style: normal;
	font-weight: 500;
	src: url("../fonts/Jost-Medium.woff") format("woff"),
	url("../fonts/Jost-Medium.woff2") format("woff2");
}
@font-face {
	font-family: "Jost";
	font-style: normal;
	font-weight: 300;
	src: url("../fonts/Jost-Light.woff") format("woff"),
	url("../fonts/Jost-Light.woff2") format("woff2");
}
@font-face {
	font-family: "Forum";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/Forum-Regular.woff") format("woff"),
	url("../fonts/Forum-Regular.woff2") format("woff2");
}