.infomation{
  padding: 0 20px;
  &__wrapper{
    max-width: 1840px;
    margin: 0 auto;
    margin-top: 20px;
    padding-top: 50px;
    padding-bottom: 80px;
    text-align: center;
    background-color: #ffffff;
    &_bottom{
      padding-bottom: 50px;
      margin-bottom: 150px;
    }
    @media(max-width:1600px){
      margin-top: 13px;
      border-radius: 10px;
      padding-top: 40px;
      padding-bottom: 40px;
      margin-bottom: -28px;
    }
  }
  &__icon{
    height: 56px;
    width: auto;
    img{
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
    @media(max-width:1200px){
      height: 35px;
    }
  }
  &__title{
    margin-top: 20px;
    @include sectionTitle;
    text-transform: uppercase;
    @media(max-width:1200px){
      margin-top: 10px;
    }
  }
  &__list{
    margin: 0 auto;
    margin-top: 50px;
    max-width: 1143px;
    display: grid;
    padding: 0 15px;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 10px;
    @media(max-width:1200px){
      margin-top: 32px;
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
      gap: 5px;
    }
  }
  &__item{
    height: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #F9F9F9;
    img{
      max-width: 147px;
      height: auto;
      object-fit: contain;
      gap: 5px;
    }
    @media(max-width:800px){
      height: 90px;
      img{
        height: 35px;
        width: auto;
      }
    }
  }
  &__text{
    max-width: 1210px;
    padding: 0 20px;
    margin: 0 auto;
    margin-top: 74px;
    text-align: left;
    h3{
      font-weight: 500;
      font-size: 24px;
      line-height: 27.6px;
      margin-bottom: 25px;
    }
    p{
      font-size: 18px;
      line-height: 21.6px;
      color: #777777;
      margin-top: 20px;
      font-weight: 400;
      padding-right: 30px;
    }
    @media(max-width:1200px){
      margin-top: 27px;
      padding: 0 17.5px;
      h3{
        font-size: 18px;
        line-height: 20.7px;
        word-break: keep-all;
        padding-right: 15px;
        margin-bottom: 11px;
      }
      p{
        margin-top: 12px;
        font-size: 14px;
        line-height: 16.8px;
        padding-right: 0;
      }
    }

  }
  &__subtitle{
    margin: 0 auto;
    margin-top: 50px;
    max-width: 970px;
    text-align: center;
    font-size: 18px;
    line-height: 21.6px;
    color: #777777;
    @media(max-width:800px){
      margin-top: 20px;
      padding: 0 10px;
      font-size: 16px;
      line-height: 19.2px;
    }
  }
  &__slider{
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    @media(max-width:800px){
      margin-top: 40px;
    }
  }
  &__slide{
    width: 305px !important;
    height: 160px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    img{
      max-width: 100%;
      width: auto;
      height: auto;
      max-height: 100%;
      object-fit: contain;

    }
    @media(max-width:800px){
      width: 190px !important;
      height: 100px;
      img{
        max-height: 150px;
        max-width: 140px;
      }
    }
  }
  &__form{
    position: relative;
    margin: 0 auto;
    margin-top: 80px;
    max-width: 1740px;
    background-color: #F3EEE8;
    border-radius: 20px;
    padding-top: 49px;
    padding-bottom: 62px;
    h3{
      font-size: 32px;
      line-height: 46.24px;
      font-weight: 500;
    }
    p{
      margin-top: 14px;
      font-size: 20px;
      line-height: 28px;
    }
    form{
      margin: 0 auto;
      width: fit-content;
      margin-top: 50px;
      display: flex;
      gap: 20px;
      padding-right: 70px;
      flex-wrap: wrap;
      input{
       background-color: #FFFFFF;
       border-radius: 10px;
       font-size: 16px;
       line-height: 23.12px;
       text-transform: uppercase;
       letter-spacing: 0.4px;
       height: 60px;
       width: 268px;
       padding: 0px 28px;
       color: rgba(48, 48, 48, 0.55);
      }
      button{
        border: 2px solid rgba(202, 167, 105, 1);
        width: 268px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        border-radius: 10px;
        text-transform: uppercase;
        color: rgba(48, 48, 48, 1);
        font-size: 16px;
        line-height: 23.12px;
        letter-spacing: 0.4px;
        font-weight: 500;
        @include transition;
        @media(hover:hover){
          background-color: rgba(202, 167, 105, 1);
          color: rgba(255, 255, 255, 1);
        }
      }

    }
    div{
      margin-top: 25px;
      font-size: 16px;
      line-height: 22.4px;
      color: rgba(119, 119, 119, 1);
      a{
        color: rgba(119, 119, 119, 1);
        position: relative;
        &::after{
          content: '';
          display: block;
          width: 100%;
          height: 0.5px;
          position: absolute;
          left: 0;
          bottom: 2px;
          background-color: rgba(119, 119, 119, 1);
        }
      }
    }
    @media(max-width:1740px){
      margin-left: 20px;
      margin-right: 20px;
    }
    @media(max-width:1400px){
      margin-top: 40px;
      padding: 50px 15px;
      form{
        padding: 0 25px;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        input,button{
          width: 100%;
        }
      }
    }
    @media(max-width:800px){
      border-radius: 10px;
      margin-left: 17px;
      margin-right: 17px;
      padding-top: 45px;
      h3{
        font-size: 22px;
        line-height: 26.4px;
      }
      p{
        font-size: 14px;
        line-height: 20px;
      }
      form{
        margin-top: 25px;
        padding: 0;
        gap: 15px;
        input,button{
          height: 50px;
        }
      }
      div{
        margin-top: 19px;
        font-size: 14px;
        line-height: 19.6px;
      }
    }
  }
}