.kitchen{
  &__wrapper{
    margin: 0 auto;
    max-width: 1920px;
    margin-top: 150px;
    text-align: center;
    overflow: hidden;
    @media(max-width:1200px){
      margin-top: 50px;
    }
  }
  &__icon{
    height: 56px;
    width: auto;
    img{
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
    @media(max-width:1200px){
      height: 35px;
    }
  }
  &__title{
    margin-top: 20px;
    @include sectionTitle;
    text-transform: uppercase;
    @media(max-width:1200px){
      margin-top: 10px;
    }
  }
  &__text{
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: rgba(119, 119, 119, 1);
    @media(max-width:700px){
      margin-top: 20px;
      padding: 0 20px;
      font-size: 16px;
      letter-spacing: 0;
      line-height: 19.2px;
    }
  }
  &__slider{
    margin-top: 80px;
    display: flex;
    gap: 48px;
    position: relative;
    left:  0;
    width: fit-content;
    animation: 3s infinite ease-in-out kitchen;
    animation-delay:1s;
    @media(max-width:700px){
      gap: 10px;
      margin-top: 40px;
    }
  }
  &__slide{
    width: 460px;
    height: 460px;
    flex-shrink: 0;
    padding: 15px;
    &:nth-child(2n){
      img{
        border-radius: 20px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: rotate(2.5deg);
      }
    }
    &:nth-child(2n + 1){
      img{
        border-radius: 20px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: rotate(-4.6deg);
      }
    }
    @media(max-width:700px){
      width: 180px;
      height: 180px;
    }
  }
  &__btns{
    margin: 0 auto;
    width: fit-content;
    margin-top: 68px;
    display: flex;
    gap: 20px;
    @media(max-width:700px){
      flex-direction: column;
      margin-top: 33px;
      width: 100%;
      align-items: center;
      gap: 15px;
    }
  }
  &__more{
    width: 268px;
    height: 60px;
    border-radius: 10px;
    border: 2px solid $gold;
    display: flex;
    justify-content: center;
    align-items: center;
    @include transition;
    font-size: 16px;
    line-height: 23.12px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: rgba(48, 48, 48, 1) !important;
    @media(max-width:700px){
      width: calc(100% - 40px);
      max-width: 400px;
      height: 50px;
    }
  }
  &__open{
    width: 280px;
    height: 60px;
    border-radius: 10px;
    background-color: $gold;
    display: flex;
    justify-content: center;
    align-items: center;
    @include transition;
    font-size: 16px;
    line-height: 23.12px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1) !important;
    @media(max-width:700px){
      width: calc(100% - 40px);
      max-width: 400px;
      height: 50px;
    }
  }
}
@keyframes kitchen{
  0% {
    left: 0;
  }
  40% {
    left: 100%;
    transform: translateX(-100%);
  }
  60% {
    left: 100%;
    transform: translateX(-100%);
  }
  80% {
    transform: translateX(0);
    left: 0;
  }
  100% {
    transform: translateX(0);
    left: 0;
  }
  // 50% {
  //   left: calc(100% - 100vw);
  // }
  // 90%{
  //   left: 0;
  // }
  // 100%{
  //   left: 0;
  // }
}