.news{
  &__wrapper{
   margin: 0 auto;
   max-width: 1920px;
   padding: 0 40px;
   margin-top: 143px;
   &_bottom{
    margin-bottom: 150px;
   }
   @media (max-width: 1600px) {
    padding: 0 20px;
    }
    @media (max-width: 1200px) {
      margin-top: 45px;
      &_bottom{
        margin-bottom: 0px;
       }
    }
  }
  &__title{
    @include sectionTitle;
    text-transform: uppercase;
    text-align: center;
  }
  &__slider{
    margin-top: 62px;
    .slick-track{
      display: flex;
      gap: 46px;
    }
    @media (max-width: 1200px) {
      margin-top: 30px;
      margin-right: -20px;
      .slick-track{
        gap: 10px;
      }
    }
  }
  &__slide{
    padding-right: 49px;
    border-right: 1px solid $gold;
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    width: 600px !important;
    min-height: 475px;
    position: relative;
    justify-self: center;
    &_top{
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: flex-start;
    }
    @media (max-width: 1200px) {
      padding-right: 10px;
    }
    @media (max-width: 700px) {
      width: 305px !important;
      min-height: 270px;
      &_top{
        gap: 14px;
      }
    }
    @media(hover:hover){
      &:hover{
        .news__hover{
          opacity: 1;
        }
        .news__name{
          color: #CAA769;
        }
      }
    }
  }
  &__img{
    width: 100%;
    height: 296px;
    position: relative;
    img{
      width: 100%;
      border-radius: 20px;
      height: 100%;
      object-fit: cover;
    }
    @media (max-width: 700px) {
      height: 159px;
      img{
        border-radius: 10px;
      }
    }
  }
  &__name{
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #303030;
    @include transition;
    @media (max-width: 700px) {
      font-size: 18px;
      line-height: 21.6px;
    }
  }
  &__counts{
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: $gold;
    border-radius: 5px;
    font-size: 13px;
    line-height: 18.8px;
    padding: 2px 9px;
    color: #ffffff;
    text-transform: uppercase;
  }
  &__date{
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #B0B0B0;
    text-align:left;
    @media(max-width:700px){
      font-size: 13px;
    }
  }
  &__btn{
    display: flex;
    margin: 0 auto;
    width: 268px;
    height: 60px;
    border: 2px solid $gold;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 23.12px;
    letter-spacing: 0.5px;
    color: #303030 !important;
    border-radius: 10px;
    margin-top: 43px;
    @include transition;
    @media(max-width:700px){
      margin-top: 31px;
      height: 50px;
      max-width: 400px;
      width: 100%;
    }
    @media(hover:hover){
      &:hover{
        background-color: #CAA769;
        color: #FFFFFF !important;
      }
    }
  }
  &__hover{
    position: absolute;
    z-index: 2;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
    background-color: white;
    opacity: 0;
    @include transition;
  }
}