.review{
  padding: 0 40px;
  @media(max-width:1600px){
    padding: 0 20px;
  }
  &__wrapper{
    margin: 0 auto;
    margin-top: 150px;
    max-width: 1840px;
    text-align: center;
    padding: 50px;
    background-color: rgba(243, 238, 232, 1);
    border-radius: 20px;
    position: relative;
    &_white{
      background-color: #ffffff;
      margin-top: 20px;
    }
    @media(max-width:1600px){
      margin-top: 45px;
      border-radius: 10px;
      padding: 40px 15px;
      &_white{
        margin-top: 15px;
      }
    }
  }
  &__items{
    margin-top: 49px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    @media(max-width:1200px){
      margin-top: 30px;
      gap: 15px;
    }
  }
  &__icon{
    height: 56px;
    width: auto;
    img{
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
    @media(max-width:1200px){
      height: 35px;
    }
  }
  &__title{
    margin-top: 20px;
    @include sectionTitle;
    text-align: center;
    text-transform: uppercase;
    @media(max-width:1200px){
      margin-top: 10px;
    }
  }
  &__img{
    position: absolute;
    width: 90px;
    height: auto;
    display: none;
    @media(max-width:700px){
      width: 45px;
      height: auto;
      display: block;
    }
    &_left-top{
      top: 43px;
      left: 23px;
      transform: rotate(135deg);
      @media(max-width:700px){
        top: 6px;
        left: -4px;
      }
    }
    &_left-bottom{
      bottom: 44px;
      left: 23px;
      transform: rotate(45deg);
      @media(max-width:700px){
        bottom: 6px;
        left: -4px;
      }
    }
    &_rigth-bottom{
      bottom: 44px;
      right: 23px;
      transform: rotate(-45deg);
      @media(max-width:700px){
        bottom: 6px;
        right: -3px;
      }
    }
    &_rigth-top{
      top: 43px;
      right: 23px;
      transform: rotate(-135deg);
      @media(max-width:700px){
        top: 6px;
        right: -5px;
      }
    }
  }
  &__icon{
    height: 56px;
    width: auto;
    img{
      object-fit: contain;
      width: 100%;
      height: 100%;
      &:nth-child(2){
        display: none;
      }
    }
    @media(max-width:1200px){
      height: 35.54px;
      img:not(.review__icon_visible){
        &:nth-child(2){
          height: 15px;
          display: inline-block;
        }
        &:nth-child(1){
          display: none;
        }
        &.review__icon_visible{
          display: inline-block;
        }
      }

    }

  }
  &__title{
    margin-top: 20px;
    @include sectionTitle;
    text-transform: uppercase;
    @media(max-width:1200px){
      margin-top: 22px;
      &_top{
        margin-top: 10px;
      }
    }

  }
  &__list{
    display: grid;
    margin-top: 50px;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    @media(max-width:1600px){
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
    }
    @media(max-width:1000px){
      grid-template-columns: repeat(1, 1fr);
      margin-top: 29px;

    }
  }
  &__item{
    background-color: rgba(255, 255, 255, 1);
    border-radius: 20px;
    padding: 25px;
    min-height: 400px;
    position: relative;
    &_color{
      background-color: rgba(243, 238, 232, 1);
      margin: 0 auto;
      max-width: 1400px;
      width: 100%;
      height: fit-content;
      min-height: fit-content;
      text-align: left;
      padding-bottom: 23px;
    }
    @media(max-width:1600px){
      &:nth-child(n + 4){
        display: none;
      }
      &_color{
        display: block !important;
        min-height: 0 !important;
      }
    }
    @media(max-width:1000px){
      min-height: 190px;
      border-radius: 10px;
      padding: 20px;
      padding-bottom: 70px;
      &_color{
        padding: 15px;
        padding-left: 17px;
        .review__star{
          margin-top: 10px;
        }
        .review__text{
          padding-right: 1px;
          line-height: 17px;
        }
        .review__top{
          span{
            display: none;
          }
        }
      }
    }
  }
  &__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    p{
      font-weight: 600;
      font-size: 18px;
      line-height: 1em;
    }
    span{
      font-weight: 500;
      font-size: 13px;
      line-height: 18.8px;
    }
    @media(max-width:1000px){
      p{
        font-size: 16px;
      }
      span{
        font-size: 11px;
        line-height: 16px;
      }
    }
  }
  &__star{
    margin-top: 16px;
    width: 78px;
    background-image: url('../img/star.svg');
    height: 13px;
  }
  &__rating{
    display: block;
    width: 80%;
    background-image: url('../img/gold.svg');
    height: 100%;
  }
  &__text{
    margin-top: 25px;
    font-size: 16px;
    line-height: 20.8px;
    text-align: left;
    max-width: 1140px;
    @media(max-width:1000px){
      margin-top: 20px;
      font-size: 14px;
      line-height: 18.2px;
      padding-right: 5px;
    }
  }
  &__btn{
    margin: 0 auto;
    margin-top: 50px;
    width: 268px;
    height: 60px;
    border: 2px solid $gold;
    font-weight: 500;
    font-size: 16px;
    line-height: 23.12px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #303030 !important;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include transition;
    @media(max-width:500px){
      width: 100%;
      margin-top: 30px;
      height: 50px;
    }
    @media(hover:hover){
      &:hover{
        background-color: #DFB05C;
        color: white !important;
      }
    }
  }
  &__logo{
    width: 102px;
    height: auto;
    border:none;
    position: absolute;
    right: 25px;
    bottom: 25px;
    &_static{
      position: static;
      margin-top: 40px;
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: auto;
      img{
        height: 25px;
      }
      span{
        display: none;
      }
    }
    @media(max-width:1000px){
      bottom: 17px;
      right: 17px;
      &_static{
        margin-top: 32px;
        img{
          height: 20px;
        }
        span{
          display: block;
          color: rgba(121, 122, 128, 1);
          font-size: 12px;
          line-height: 17.34px;
          font-weight: 500;
        }
      }
    }
  }
  &__imgs{
    margin-top: 25px;
    .slick-track{
      
      display: flex;
      gap: 10px;
    }
    img{
      width: 100%;
      height: 100%;
      width: 140px !important;
      height: 140px !important;
      object-fit: cover;
      border-radius: 10px;
    }
    @media(max-width:1000px){
      gap: 5px;
      img{
      width: 100px !important;
      height: 100px !important;
      border-radius: 5px;
      }
    }
  }
}

