.start{
  &__wrapper{
    width: 100vw;
    margin: 0 auto;
    margin-top: -140px;
    @media(max-width:700px){
      margin-top: 0;
      overflow: hidden;
    }
  }
  &__slider{
    width: 100%;
    height: 1000px;
    overflow: hidden;
    position: relative;
    &_wrap{
    height: 100%;
    position: relative;
      .slick-track{
        height: 100% !important;
      }
    }
    @media(max-width:1600px){
      height: 800px;
    }
    @media(max-width:700px){
      height: 460px;
      border-radius: 10px;
    }
  }
  &__slide{
    width: 100vw;
    height: 1000px;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 165px;
    padding-bottom: 80px;
    background-position: center center;
    z-index: 1 !important;
    color: rgba(255, 255, 255, 1);
    @media(max-width:700px){
      height: 460px;
      border-radius: 10px;
    }
  }
  &__content{
    position: absolute;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100%;

    &_wrap{
      padding-top: 75px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      @media(max-width:700px){
        padding: 0;
      }
    }
  }
  &__title{
    margin-top: 30px;
    @include pageTitle;
    color: $base;
    max-width: 910px;
    text-align: center;
    text-transform: uppercase;
    @media(max-width:700px){
      margin-top: 7px;
    }

  }
  &__icon{
    img{
      height: 25px;
      width: auto;
      object-fit: cover;
      @media(max-width:700px){
        height: 15px;
      }
    }
  }
  &__text{
    margin-top: 20px;
    font-size: 18px;
    line-height: 21.6px;
    max-width: 598px;
    text-align: center;
    color: $base;
    @media(max-width:700px){
      margin-top: 13px;
      font-size: 14px;
      line-height: 16.8px;
      max-width: calc(100% - 40px);
    }
  }
  &__call{
    margin-top: 32px;
    width: 280px;
    height: 60px;
    border-radius: 10px;
    border: 2px solid $gold;
    display: flex;
    font-size: 16px;
    line-height: 23.12px;
    letter-spacing: 1px;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    background-color: $gold;
    @include transition;
    @media(max-width:700px){
      height: 50px;
      max-width: calc(100% - 40px);
      margin-top: 23px;
    }
    @media(max-width:500px){
      width: 100%;
    }
    @media(hover:hover){
      &:hover{
        background-color: #DFB05C;
      }
    }
  }
  &__gradient{
    width: 100%;
    height: 140px;
    background: linear-gradient(rgba(251, 251, 251, 0), rgba(251, 251, 251, 1));
    bottom: -8px;
    position: absolute;
    z-index: 5;
    @media(max-width:700px){
      display: none;
    }
  }
}
