.text{
  padding: 0 40px;
  @media(max-width:1600px){
    padding: 0 20px;
  }
  &__wrapper{
    margin: 0 auto;
    max-width: 1840px;
    margin-top: 28px;
    background-color: $ligth;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 50px 30px;
    position: relative;
    border-radius: 20px;
    padding-bottom: 60px;
    @media(max-width:700px){
      gap: 15px;
      border-radius: 10px;
      padding: 45px 15px;
      padding-bottom: 60px;
      margin-top: 27px;
    }
  }
  &__title{
    font-weight: 500;
    font-size: 32px;
    line-height: 46.24px;
    text-align: center;
    @media(max-width:700px){
      font-size: 22px;
      line-height: 26.4px;
    }
  }
  &__img{
    position: absolute;
    width: 90px;
    height: auto;
    @media(max-width:700px){
      width: 45px;
      height: auto;
    }
    &_left-top{
      top: 25px;
      left: 5px;
      transform: rotate(135deg);
      @media(max-width:700px){
        top: 6px;
        left: -4px;
      }
    }
    &_left-bottom{
      bottom: 25px;
      left: 5px;
      transform: rotate(45deg);
      @media(max-width:700px){
        bottom: 6px;
        left: -4px;
      }
    }
    &_rigth-bottom{
      bottom: 25px;
      right: 5px;
      transform: rotate(-45deg);
      @media(max-width:700px){
        bottom: 6px;
        right: -3px;
      }
    }
    &_rigth-top{
      top: 25px;
      right: 5px;
      transform: rotate(-135deg);
      @media(max-width:700px){
        top: 6px;
        right: -5px;
      }
    }
  }
  &__text{
    max-width: 900px;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    @media(max-width:700px){
      font-size: 16px;
      line-height: 19.2px;
    }
  }
  &__btn{
    width: 268px;
  height: 60px;
  border-radius: 10px;
  border: 2px solid $gold;
  display: flex;
  justify-content: center;
  align-items: center;
  @include transition;
  margin-top: 23px;
  color: $black !important;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  @media(max-width:700px){
    width: 100%;
    margin-top: 8px;
    height: 50px;
  }
  @media(hover:hover){
    &:hover{
      background-color: #CAA769;
      color: #FFFFFF !important;
    }
  }
  }
}